<!DOCTYPE html>
<html lang="en">

<head>
    <title>House-Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            color: #f0df98ff;
            background: url("../images/bg-buying.png");
            background-size: 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <header>
        <div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">Investor Portal</a>
                            </li>
                            <!-- <li class="active"><a href="#">Home</a></li>        
                                <li><a href="#">Projects</a></li>  If we need to add nav in the future its here
                                <li><a href="#">Contact</a></li> -->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-user"></span> Member Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="share-buttons">
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-facebook"></a>
            </div>
            <img src="../images/TeamOfAcesLogo.png" class="center" id="logo" />
            <div class="award-container">
                <span id="our-awards">Our Awards</span>
                <img src="../images/HallOfFameAward.png" />
                <img src="../images/ExecutiveClubAward.png" />
                <img src="../images/100ClubAward.png" />
                <img src="../images/ChairmanClubAward.png" />
                <img src="../images/DiamondClubAward.png" />
                <img src="../images/Number1Remax.png" id="num-1-remax" />
            </div>
        </div>
        <div class=""></div>
    </header>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="text-center">
                <div class="text-container">
                    <h2>Buying</h2>
                    <p>As experts in real estate, we will not only find you a home, we will provide professional advice and ensure you are making the right investment and leveraging our network will provide financial support if needed.
                        </p>
                </div>
            </div>
            <div class="text-center">
                <div class="text-container">
                    <h2>About</h2>
                    <div class="flex-container">                 
                        <div>Oakville</div>
                        <div>Mississauga</div> 
                        <div>Burlington</div> 
                        <div>Milton</div>
                        <div>Toronto</div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <h2>Information</h2>
                    <div class="flex-container">                 
                        <div>School Locator</div>
                        <div>Best Places To Live</div> 
                        <div>Mortgage Calculators</div> 
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>