
@media (min-width: 1000px) and (max-height: 750px) {
    .profile-card img {
        max-width: 80%;
    }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1220px) {
    body {
        font-size: 15px;
    }
    .logo {
        display: none;
    }
    #logo-small {
        display: block!important;
    }
    .nav-share-buttons {
        display: block;
    }
    .navbar {
        margin: 0!important;
        padding: 0!important;
        padding-bottom: 4.3vh!important
    }
    .image-container {
        height: 95vh;
    }
    h1 span.shrink {
        padding: 3%;
        font-size: 0.5em;
    }
    .info-title {
        margin-top: -1vh!important;
    }
    .listings-container-first {
        margin-top: 0.5vh;
    }
    .home-text {
        bottom: 55%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 white
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
        margin-top: 5vh;
    }
    #logo-small {
        max-height: 100%;
    }
}

/* Portrait tablets and small desktops */
@media  (max-width: 991px) {
    html {
        font-size: 90%;
    }
    .heading h1 {
        font-size: 30px;
    }
    .portfolio-item h2 {
        font-size: 14px;
    }
    .item .details p {
        font-size: 16px;
    }

    .item .details small {
        font-size: 16px;
    }
    .logo {
        display: none;
    }
    #logo-small {
        display: block!important;
    }
    .nav-share-buttons {
        display: block;
    }
    .navbar {
        margin: 0!important;
        padding: 0!important;
        padding-bottom: 3vh!important;
    }
    .collapse {
        display: visible;
    }
    .image-container {
        height: 95vh;
    }
    .home-text {
        bottom: 55%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 white
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
        margin-top: 1vh;
    }
    #logo-small {
        max-height: 8vh;
    }
}

@media (max-width: 850px) and (max-height: 500px) {
    .award-card {
        display: none;
    }
    .profile-card img {
        max-height: 33vh;
    }
    .profile-card p {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .profile-card {
        width: 20vw;
    }
    .home-text {
        font-size: 12px;
        bottom: 60%;
    }
    .contact-container {
        background: rgba(5, 5, 5, 0.397);
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 10px;
    }
    .navbar {
        padding: 0!important;
        padding-bottom: 4vh!important;        
    }
    .image-container {
        height: 95vh;
    }
    .collapse.in{
        margin-top: 0;
    }

}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html {
        font-size: 80%;
    }
    .navbar-toggle {
        background-color: #ffffff;
        border:none;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #333333;
        border:none;
    }
    .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color:none;
        background: black;
    }
    .brand-identity{
        text-align: center;
        margin-bottom:50px;
    }
    .home-content h1 {
        font-size: 35px;
    }
    .home-content h4 {
        font-size: 18px;
    }
    .contact-top h1 {
        text-align: center;
    }
    .contact-left-info {
        text-align: center;
    }
    .contact-btn{
        text-align: center;
    }
    .heading h1 {
        font-size: 20px;
    }

    .item .details p {
        font-size: 20px;
    }
    #quote-carousel .carousel-indicators li {
        width: 70px;
        height: 70px;
    }
    #quote-carousel .carousel-indicators .active {
        width: 90px;
        height: 90px;
    }

    .scrollup {
        width: 50px;
        height: 50px;
        line-height: 50px;
        bottom: 90px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 20px;
    }
    .owl-carousel .owl-item img {
        /* width:50%; */
        width: 50vh;
        margin: 0 auto;
    }
    .award-card {
        display: none;
    }
    .profile-card img {
        max-height: 33vh;
    }
    .profile-card p {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .profile-card {
        width: 30vw;
    }
    .home-text {
        font-size: 12px;
    }
    .contact-container {
        background: rgba(5, 5, 5, 0.397);
    }
    .navbar {
        padding-bottom: 4vh!important;
    }
    h1 span.shrink {
        padding: 4%;
        font-size: 0.8em;
    }
    .collapse.in{
        margin-top: 0;
    }
}

/* iPhone 5SE Landscape */
@media (min-width: 481px) and (max-width: 750px){
    .navbar {
        padding-bottom: 0!important;
    }
    h1 span.shrink {
        padding: 5%;
        font-size: 0.6em;
    }
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
    html {
        font-size: 65%;
    }
    .brand-identity{
        text-align: center;
        margin-bottom:50px;
    }
    .home-content h1 {
        font-size: 22px;
    }
    .home-content h4 {
        font-size: 14px;
    }
    .home-content a {
        text-align: center;
    }
    .portfolio-item h2 {
        font-size: 15px;
    }
    .btn {
        padding: 16px 28px;
    }
    .contact-top h1 {
        text-align: center;
    }
    .contact-left-info {
        text-align: center;
    }
    .contact-form {
        padding: 0;
    }
    .copyright{
        margin-bottom: 25px;
    }
    .item .details p {
        font-size: 16px;
    }
    #quote-carousel .carousel-indicators li {
        width: 50px;
        height: 50px;
    }
    #quote-carousel .carousel-indicators .active {
        width: 70px;
        height: 70px;
    }
    #quote-carousel .carousel-control.left {
        left:0px;
    }
    #quote-carousel .carousel-control.right {
        right:0px;
    }
    #quote-carousel .carousel-control {
        top:30px;
    }
    .item .details p{
        font-size: 15px;
    }

    .item .details small{
        font-size: 15px;
    }

    .scrollup {
        width: 50px;
        height: 50px;
        line-height: 50px;
        bottom: 110px;
    }

    .owl-carousel .owl-item img {
        /* width:30%; */
        margin: 0 auto;
    }
    .contact-container {
        background: rgba(5, 5, 5, 0.397);
    }
    .contact-row {
        margin: 0;
        text-align: center;
    }
    .award-card {
        display: none;
    }
    .profile-card{
        width:50%;
    }
    .profile-card img {
        max-width: -webkit-fill-available;
    }
    .home-text {
        font-size: 16px;
    }
    .navbar {        
        padding: 0!important;
    }
    h1 span.shrink {
        padding: 7%;
        font-size: 0.8em;
    }
}

@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
    .portfolio-item h2 {
        font-size: 13px;
    }
    .brand-identity{
        text-align: center;
        margin-bottom:50px;
    }
    .home-content h1 {
        font-size: 25px;
    }
    .contact-top h1 {
        text-align: center;
    }
    .contact-left-info {
        text-align: center;
    }
    .contact-form {
        padding: 0;
    }
    .copyright{
        margin-bottom: 25px;
    }
    #quote-carousel .carousel-indicators li {
        width: 20px;
        height: 20px;
    }
    #quote-carousel .carousel-indicators .active {
        width: 40px;
        height: 40px;
    }
    .award-card {
        display: none;
    }
    .contact-container {
        background: rgba(5, 5, 5, 0.397);
    }
    h1 span.shrink {
        padding: 7%;
        font-size: 0.8em;
    }

}

