.navbar {
    border-radius: 0;
    font-size: 1em;
    background: black;
}

header {
    background: black;
}
.award-container {
    display: inline-block;
    white-space: nowrap;
    background: #f0df98ff;
    color: black;

    width: 100%;
    text-align: center;
}

.award-container img {
    margin-left: 3%;
    width: 150px;
    height: 80px;
}

#num-1-remax {
    float: right;
    margin: 0;
    width: 80px;
    height: 80px;
}

#our-awards {
    padding: 1em;
    float: left;
    font-weight: bold;
    font-size: 16px;
}

#logo, #school-page-logo{
    width: 15%;
    height: 15%;
    position: relative;
    left: 42.5%;
    z-index:2000;
}

.fa {
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    float: right;
    background: white;
    color: black;
    padding: 1%;
    margin: 8px 6px 0 0px;
    border-radius: 3px;
}
.share-buttons {
    z-index: 2000;
    position: relative;
}
.share-buttons .fa {
    padding: 0.5%;
    font-size: 2em;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: #fff;

    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }

    .award-container {
        display: none;
    }

    #logo {
        width: 50%;
        left: 0;
    }
    #school-page-logo{
        display: block;
        width: 50%;
        margin: 0 auto;
        left: 0;
    }
}

@media screen and (max-width: 1150px) {
    .award-container img {
        width: 125px;
        height: 60px;
        margin-left: 2%;
    }

    #num-1-remax {
        float: right;
        margin: 0;
        width: 75px;
        height: 60px;
    }
}

@media screen and (min-height: 1000px) {
    #logo {
        width: 20%;
        height: 20%;
        left: 40%;
    }
    .award-container img {
        height: 75px;
    }
    
    #num-1-remax {
        height: 75px;
    }    
}