.row.content {
    padding: 15px 0px;
    color: #f0df98ff;
}

h2 {
    margin: 0;
    font-style: normal;
}

.text-container {
    background: black;
    padding: 20px;
    font-style: italic;
    margin-bottom: 5%;
}

.page{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0;
}

#buying{
    background-image: url("../images/bg-buying.png");
}

#selling{
    background-image: url("../images/bg-selling.png");
}

#investors{
    background-image: url("../images/bg-selling.png");
}

#why-us{
    background-image: url("../images/bg-why-us.png")
}

#testimonial{
    background-color: black;
}
#investor-portal{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
}

#investor-portal-container{
    height: 150px;
    position: relative;
}

#selling-service{
    font-size: 20px;
}

.flex-container {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container > div {
    font-size: 28px;
    margin-top: 10px
}


@media screen and (min-height: 800px)  {
    .text-container {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px)  {
    .profile-container {
        display: unset!important;
    }
    .card-horizontal {
        margin-right: 0!important;
    }
}

@media screen and (min-width: 768px){
    #buying-location{
        font-size: 20px;
        width: 20%;      
    }
}
