.row.content {
    padding: 15px 0px;
    color: #f0df98ff;
}

h2 {
    margin: 0;
    font-style: normal;
}

h1 {
    color: #f0df98ff!important;
}

h1 span{
    background-image:url(../images/elegant_border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color:#f0df98ff;
    padding: 7%;
}


.text-container {
    background: black;
    padding: 20px;
    font-style: italic;
    margin-bottom: 5%;
}

.info-title{
    color: black !important;
}

.page{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
}

.send-button {
    color: #f0df98ff;
    background-color: black;
    border-color: transparent;
}

.send-button:hover {
    color: #f0df98ff;
    background-color: black;
    border-color: #f0df98ff;
}
.send-button:active {
    color: #f0df98ff;
    background-color: black;
    border-color: #f0df98ff;
}

@media screen and (min-height: 720px) and (min-width:720px){
    .page{
        height: 100vh;
    }
}

.section-divider{
    background-image: url("../images/gold-page-divider.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    background-color:black;
    text-align: center;
    height: 100px;
}
@media screen and (max-height: 760px) , screen and (max-width: 420px){
    .section-divider{
        height: 50px;
    }
}

#information{
    background-color: black;
    height: 20vh;
}

#buying{
    background-image: url("../images/bg-buying.png");
}

#selling{
    background-image: url("../images/bg-selling.png");
}

#investors{
    background-image: url("../images/bg-selling.png");
}

#why-us{
    background-image: url("../images/bg-why-us.png")
}

#testimonial{
    background-color: black;
}
#investor-portal{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
}

#investor-portal-container{
    height: 150px;
    position: relative;
}

#selling-service{
    font-size: 20px;
}

.flex-container {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container > div {
    font-size: 28px;
    margin-top: 10px
}


@media screen and (min-height: 800px)  {
    .text-container {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px)  {
    .profile-container {
        display: unset!important;
    }
    .card-horizontal {
        margin-right: 0!important;
    }
}

@media screen and (min-width: 768px){
    #buying-location{
        font-size: 20px;
        width: 20%;      
    }
}
